/**
 * Needed for checkboxes.js "Check all" and "Toggle" buttons to look good.
 *
 * Goal is for this file not to exist at all, and as you can see we're pretty
 * close!
 *
 * Padding silliness is copied from Bulma and probably irrelevent to our
 * Claro-based theme, though i think it has to do with adding a border without
 * changing button sizes, and there are mockups of say the Filter button from
 * the content add page with only a narrow border and that would look much
 * better, so hoping Claro does go that direction:
 *
 * https://www.figma.com/file/OqWgzAluHtsOd5uwm1lubFeH/Drupal-Design-system?node-id=3128%3A6356
 */

.is-small {
  font-size: 0.79rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
}
