/**
 * Prevent duplicate and broken character counters
 * See https://www.drupal.org/project/maxlength/issues/3076581
 */
/* If it is not even a known ID it probably should not be shown! */
#undefined-counter {
  display: none;
}

/**
 * Don't show our eminently reasonable limit of 9 locations.  If any place hits
 * that, they were asking for it.  @TODO look for a setting to hide this.
 */
.ief-cardinality-count {
  display: none;
}

/**
 * Keep vertical tabs active on the smallest reasonable screen sizes.
 */
@media screen and (min-width: 36em) {
  .vertical-tabs__menu {
    display: block;
  }

  .vertical-tabs__items--processed {
  /* margin-left:20em // Overridden below */
  border-top-left-radius: 0;
  }
  .js[dir="rtl"] .vertical-tabs__items--processed {
    /* margin-right: 20em; --overridden below */
    margin-left: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
  }

  .js .vertical-tabs__item{
    overflow:hidden;
    margin:0;
    border:0;
  }

  .js .vertical-tabs__item--first,
  .js .vertical-tabs__item--last{
    border-radius:0;
  }

  .js .vertical-tabs__item > summary {
    display:none;
  }

  .js .claro-details__wrapper .vertical-tabs__item .claro-details__summary.claro-details__summary--vertical-tabs-item {
    display: block;
  }

  /* Claro specific */
  .js .claro-details__wrapper--vertical-tabs-item {
    margin: 0;
    border-top: 0;
    background-color: transparent;
  }
}

/**
 * Make the column for the vertical tabs labels much narrower.
 *
 * Theme wins over modules, so we need to add the important flag.
 */
@media screen and (min-width: 36em) {
  .vertical-tabs__menu {
    width: 8rem !important;
  }
  .vertical-tabs__items--processed,
  .vertical-tabs__panes {
    margin-left: 8rem !important;
  }
  .js[dir="rtl"] .vertical-tabs__items--processed {
    margin-right: 8rem !important;
  }
}

/**
 * Give a little more breathing room when we have it.
 */
@media screen and (min-width: 48em) {
  .vertical-tabs__panes {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }
}

/**
 * Undoing this large top margin only has any effect at the top of vertical
 * tabs, that is at .vertical-tabs__pane > .details-wrapper.
 */
.form-item {
  margin-top: .5rem !important;
  margin-bottom: 1rem !important;
}

/**
 * Remove borders, shading, etc. from fields within vertical tabs already.
 */
.vertical-tabs .claro-details,
.vertical-tabs .fieldset {
  border: none;
  margin: 0;
  background-color: inherit;
  color: inherit;
  box-shadow: none;
}
.vertical-tabs .fieldset__label {
  padding-right: 0;
  padding-left: 0;
}
.vertical-tabs .fieldset__wrapper {
  margin-left: 0;
  margin-right: 0;
}

/**
 * We lock down text formats to only one pretty self-explanatory one.  Hide the tips link.
 */
.filter-wrapper {
  display: none;
}

/**
 * Give the max-length countdown of allowed number of characters the same subtle font as help text.
 */
.counter {
  color: #545560;
  font-size: 0.79rem;
  line-height: 1.0625rem;
}

/**
 * Keep the description for uploaded files
 */
.form-managed-file__meta {
  margin-top: 0;
  margin-left: 1.5rem;
}
.form-managed-file__meta .form-item__label {
  font-size: 0.8rem;
  color: #545560;
}
/* Undo the padding for image fields (also managed files) but also get rid of extraneous marks. */
.field--widget-image-image .form-managed-file__meta {
  margin-top: 0.5rem;
  margin-left: 0;
}
.field--widget-image-image .claro-details__summary::before {
  display: none;
}
.field--widget-image-image .claro-details__summary {
  padding-left: 0;
}
.field--widget-image-image .claro-details__wrapper {
  margin: 0;
}
.field--widget-image-image .form-type--managed-file {
  margin-top: 0;
}

/* .form-item__label.form-required::after */

#edit-field-findit-registration-when--wrapper .fieldset__label.form-required::after {
  display: none;
}

/* Position 'to' at about vertical center between start and end dates. */

.fieldset__wrapper .smartdate--time-inline .smartdate--separator {
  margin-bottom: 2.7rem;
}

/* Hide all-day option from events; we want people to put in specific times. */

.allday-label {
  display: none;
}

/* TEMPORARY HIDING OF RECURRING DATE CAPABILITY. @TODO FIX */
.smartdate--widget > .fieldset__wrapper > .repeat--label,
.smartdate--widget > .fieldset__wrapper > .repeat--label ~ div
{
  display: none !important;
}
/* Hide empty advanced details also, @TODO see when/if these should show. */
.smartdate--widget > .fieldset__wrapper > .repeat--label ~ details {
  display: none !important;
}

/* Keep text in vertical tabs visible on hover. */
.vertical-tabs__menu-link::before {
  z-index: -1000;
}

/* Find It Cambridge requests that even duration option be hidden for now. */
#edit-field-findit-opportunity-dates-wrapper .smartdate--widget .form-type--select.duration-wrapper {
  display: none;
}

@media (min-width: 56em) {
  #edit-field-findit-opportunity-dates-wrapper .smartdate--time-inline div.time-end {
    flex-direction: row;
  }
}
