/**
 * Tweaks that are highly specific to Find It content entry and should be moved
 * to a helper module probably, or perhaps a skin.
 */


/**
 * Make checkboxes horizontal, or a grid when there are very many.
 *
 * Adjusted per vocabulary/field.  Here are the IDs of some of the fields
 * we're leaving at 10em, for easy adding to the custom ones later if need be:
 *
 * #edit-field-findit-open-during
 *
 * See #edit-field-findit-transport-provided below for how to undo entirely.
 */
.form-type--checkbox {
  display: inline-block;
  width: 10em;
  vertical-align: top;
}

#edit-field-findit-day-of-week .form-type--checkbox,
#edit-field-findit-time-of-day .form-type--checkbox,
#edit-field-findit-ages .form-type--checkbox {
  width: 6em;
}

#edit-field-findit-special-times .form-type--checkbox,
#edit-field-findit-eligibility .form-type--checkbox,
#edit-field-findit-services .form-type--checkbox,
#edit-field-findit-accessibility .form-type--checkbox,
#edit-field-findit-activities .form-type--checkbox {
  width: 22em;
}

.form-item--field-findit-noindex-gratis-value.form-type--checkbox,
#edit-field-findit-virtual .form-type--checkbox,
#edit-field-findit-cost-subsidies .form-type--checkbox,
#edit-field-findit-transport-provided .form-type--checkbox{
  width: inherit;
  display: block;
}


/**
 * Put first and last name fields side by side, for a slightly more natural
 * contact entry experience.
 */
.name-given-wrapper,
.name-family-wrapper {
  width: 18em;
  display: inline-block;
}

.name-family-wrapper {
  margin-left: 0.3em;
}


/**
 * Hide the time portion of fields on the project page.
 *
 * @TODO do with a form alter or really any way but this.
 */
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-0-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-0-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-1-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-1-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-2-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-2-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-3-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-3-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-4-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-4-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-5-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-5-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-6-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-6-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-7-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-7-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-8-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-8-end-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-9-value-time,
.node-findit-program-form .form-items-inline > .form-item--field-findit-dates-9-end-value-time
{
  display: none;
}

.dr-at-description {
  display: none;
}

/* Temporary hack to hide the fourth 'where does this program happen' ('online')
 * option which was used only to control the following Virtual field.
 */
#edit-field-findit-where-online {
  display: none;
}
