/* A place for global styles, if any. */

/* Make fieldset labels, legends, and the like a consistent font size. */

.form-item__label,
.fieldset__label {
  font-size: 1rem;
  padding-bottom: 0;
}

.form-checkboxes .button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-checkboxes .form-item {
  margin-bottom: 0.5rem !important;
}

.form-checkboxes {
  margin-bottom: 1rem;
}

.fieldset__legend {
  margin-bottom: 0.5rem;
}

.fieldset__legend > .fieldset__wrapper > .fieldset__description {
  margin-top: -0.5rem;
}

.form-wrapper {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.form-wrapper .form-wrapper {
  margin-bottom: 0;
}

/* Don't add padding (added above) to the more outer form wrappers.  @TODO target ones we want, rather than undoing. */
.field-group-tab.form-wrapper {
  padding-top: 0;
}

/* Items have half-rem top padding so for symmetrical space only 1rem, not 1.5rem, of top margin around whole tab. */
.vertical-tabs .claro-details__content--vertical-tabs-item {
  margin-top: 0.5rem;
}

.fieldset__wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.field-multiple-table td {
  padding-bottom: 0;
}
.field-multiple-table td .form-wrapper {
  margin-bottom: 0 !important;
}

.field-multiple-table .form-required-on-publish.fieldset__label {
  display: none;
}
