#edit-field-findit-organization-wrapper .form-item--multiple:not([data-msg-required="Parent organization is required."]) #field-findit-organization-values .form-item__label::after,
.form-required-on-publish::after {
  display: inline-block;
  width: 0.4375rem;
  height: 0.4375rem;
  margin-right: 0.3em;
  margin-left: 0.3em;
  content: "";
  vertical-align: super;
  background-image: url(../../../../core/themes/stable/images/core/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 0.4375rem 0.4375rem;
}
